<h6>
    Route 1: Floating Banner Text
</h6>
<div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div id="text" class="text-container">
                                    <h3>
                                        A floating banner text which keeps on rotation.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="container">
    <div id="text" class="text-container">
        <h3>
        A floating banner text which keeps on rotation.
         </h3>
    </div>
</div> -->